.breadcrumbs
  ul.bc
    li.bc__item.bc__item--active
      a(href="#").bc__link Главная
    li.bc__item
      a(href="#").bc__link Продукты
    li.bc__item
      a(href="#").bc__link Описание продукта
