.menu__item {
  margin-left: 20px;

  &--active, &:hover {
    opacity: .5;
  }
}

.menu__link {
  font-size: 16px;
  color: #434a54;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu__list {
  display: flex;
}